@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&family=Inter:wght@400;700&display=swap');

:root {
  --primary-color: #ffffff;
  --secondary-color: #e50914;
  --font-base:'Lexend', sans-serif ; /* Base font */
  --font-second-base: 'Inter', sans-serif ;
  --bg-color:#111; /* Secondary font */
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
  background: #111;
}
